{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "globals": {
    "React": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true,
      "esversion": 6,
      "destructuring": true,
      "generators": true,
      "superInFunctions": true
    }
  },
  "rules": {
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0
  }
}
